
          <div class="myprojects">
            <h2>Projects</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

             <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/3dv_demo.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
<a href="3dv.html" id="pyslam">
                  <papertitle><b>An Offline Python SLAM using COLMAP</b></papertitle></a><br>
                      Project at Computer Vision and Geometry Group, ETH Zurich
                    <br>
                    Supervised by <a href="https://psarlin.com/">Paul-Edouard Sarlin</a> and <a href="https://people.inf.ethz.ch/pomarc/">Marc Pollefeys</a>

                  <div class="project" id="pyslam">
                    <a href="3dv.html">Webpage</a> |
                    <a href="assets/pdf/3dv_poster.pdf">Poster</a> |
                    <a href="https://drive.google.com/file/d/1SUAnv6l69lDIuFu8iadkP70DrkNChG5t/view?usp=sharing">Demo</a> |
                    <a href="assets/pdf/3dv_report.pdf">Report</a>
                    <!-- <a href="https://github.com/Chiaki530/COLMAPSLAM">Code (Open Soon)</a> -->
                  </div>
                      TL;DR: An offline python SLAM using COLMAP and ORB-SLAM which is robust, accurate, and highly extensible.


              </td>
              </tr>

              <br/>


            <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/pvcnn.png" alt="sym" width="90%" style="margin-top:10px;padding-top:30px;padding-bottom:30px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <a href="pvcnn.html" id="mp">
                  <papertitle><b>Efficient Spatio-Temporal Processing of Event Data</b></papertitle></a><br>
                    Master Project at Robotics and Perception Group, UZH
                    <br>
                    Supervised by <a href="https://magehrig.github.io/">Mathias Gehrig</a>,
                     <a href="https://messikommernico.github.io/">Nico Messikommer</a><br/>
                     and <a href="https://rpg.ifi.uzh.ch/people_scaramuzza.html">Davide Scaramuzza</a>

                  <div class="project" id="mp">
                    <a href="pvcnn.html">Webpage</a> |
                    <a href="https://docs.google.com/presentation/d/15l7XR-bhL9id1isEamQFLmAnNOcGOvb-/edit?usp=sharing&ouid=101363749571659181238&rtpof=true&sd=true">Slide</a> |
                    <a href="assets/pdf/mp.pdf">Report</a>
                    <!-- <a href="https://github.com/tenhearts/master_project_kexin_shi_yifei_liu">Code (Open Soon) </a> -->
                  </div>



                    <div>
                      TL;DR: A point-voxel-mixed model for efficient spatio-temporal processing of event data for classification and optical flow.
                    </div>


              </td>
              </tr>


            <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/dlad.jpeg" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                  <a href="dlad.html" id="dlad"><br/>
                  <papertitle><b>Multi-task Learning for Autonomous Driving</b></papertitle></a><br>
                    Course Project in <a href="https://www.trace.ethz.ch/teaching/DLAD/spring2021/index.html"> Deep Learning for Autonomous Driving</a>

                  <div class="project" id="dlad">
                      <a href="dlad.html">Webpage</a> |
                      <a href="https://competitions.codalab.org/competitions/31727#results">Competition Ranking</a> |
                      <a href="assets/pdf/report_p3.2.pdf"> Report </a>
                  </div>

                    <div>
                      Multi-task Learning for semantic segmentation, depth estimation and 3D object detection for autonomous driving scenes.
                    </div>

              </td>
              </tr>

            <tr>
                <td width="40%" valign="top" align="center">
                <img src="assets/img/demo_collections.gif" alt="sym" width="90%" style="margin-top:10px;padding-top:0px;padding-bottom:0px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="top">
                    <br/>
                      <a href="mydemos.html"><b>Collection of Demos</b</a><br/>
                    <a href="mydemos.html">Here</a> are some demos collected from my courses and projects.
                    Please note that I am not an expert in these fields, and am merely recording some experience I found interesting to share.


              </td>
              </tr>

            </tbody></table>

          </div>