
          <div class="publications">
            <h2>Publications</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

              <tr>
                <td width="40%" valign="center" align="center">
                <img src="assets/img/svit.png" alt="sym" width="95%" style="margin-top:10px;padding-top:20px;padding-bottom:20px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="center">
                  <a href="SViT-project-page/index.html" id="perception-aware">
                  <papertitle width="110%"><b>Revisiting Token Pruning for Object Detection and Instance Segmentation</b></papertitle></a><br>

                    <b>Yifei Liu</b>,
                    Mathias Gehrig,
                    Nico Messikommer,
                    Marco Cannici,
                    Davide Scaramuzza
                  <br/>
                  <div class="paper" id="svit">
                    <a href="https://arxiv.org/pdf/2306.07050.pdf"> [PDF] </a>
                    <a href="https://github.com/kaikai23/svit"> [Code] </a>
                    <a href="https://scholar.googleusercontent.com/scholar.bib?q=info:brN93ViM3DkJ:scholar.google.com/&output=citation&scisdr=ClGvzbvxEIKRyHhqlyY:AFWwaeYAAAAAZOtsjyZxRo5PRI3imIw4dGu0WTA&scisig=AFWwaeYAAAAAZOtsj3wp4v7VBc06euOEwpbEsjQ&scisf=4&ct=citation&cd=-1&hl=en"> [Cite] </a>
                    <a href="SViT-project-page/index.html"> [Project] </a>
                  </div>
                  <br/>
                  <div>
                      Pruning tokens for Vision Transformers to accelerate inference speed on dense tasks.
                  </div>



              </td>
              </tr>

            </tbody></table>

          </div>