
          <div class="publications">
            <h2>Publications</h2>

            <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"><tbody>

              <tr>
                <td width="40%" valign="center" align="center">
                <img src="assets/img/svit.png" alt="sym" width="95%" style="margin-top:10px;padding-top:20px;padding-bottom:20px;border-radius:15px;border:1px solid black">
                </td>

                <td width="60%" valign="center">
                  <a href="https://kaikai23.github.io/" id="perception-aware">
                  <papertitle width="110%"><b>Dynamic Token Pruning for Instance Segmentation and Object Detection</b></papertitle></a><br>

                    <b>Yifei Liu</b>,
                    Mathias Gehrig,
                    Nico Messikommer,
                    Marco Cannici,
                    Davide Scaramuzza
                  <br/>
                  <div>
                    arXiv, 2023
                  </div>
                  <div class="paper" id="svit">
                    Paper and code coming soon!
                  </div>
                  <br/>
                  <div>
                      Using gating networks to remove redundant tokens tp speed up the inference, with a dynamic pruning ratio and reusing pruned tokens.
                  </div>



              </td>
              </tr>

            </tbody></table>

          </div>